aws_region = "value"
aws_ec2_instance_type = "value"
ip_ssh_connection = ["ip"]
aws_key_pair_name = "key pair ssh"
common_tags = {
  "name" = "nome"
  "environment" = "ambiente"
  "owner" = "criador"
  "project" = "Nome do projeto"
  "terraform" = "true"
  "created_at" = "data de criação"
}